@import 'reset.css';
@import url("http://fonts.googleapis.com/css?family=Unica+One");
@import url("http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700");
html {
  font-family: 'Vollkorn', sans-serif;
  color: #444;
  line-height: 1.5;
  font-size: 14px;
  overflow-y: auto;
}
@media (min-width: 800px) {
  html {
    font-size: 16px;
  }
}
a {
  color: #99f;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  line-height: 1.1em;
  color: #ff6347;
  font-weight: normal;
}
h1 {
  font-family: 'Unica One', sans-serif;
  text-transform: uppercase;
  color: #aaa;
}
p {
  margin-bottom: 1rem;
}
img {
  max-width: 100%;
}
html,
body {
  height: 100%;
}
.wrap {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 800px) {
  .wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.content,
.sidebar {
  overflow-y: scroll;
  padding: 2em;
}
.sidebar {
  background: #ff6347;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px solid #eee;
  text-align: center;
  padding-bottom: 0.5em;
}
@media (min-width: 800px) {
  .sidebar {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}
.sidebar img {
  width: 100px;
  display: inline-block;
  margin-bottom: 1rem;
}
@media (min-width: 800px) {
  .sidebar img {
    display: none;
  }
}
.sidebar nav {
  font-family: 'Unica One', sans-serif;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.sidebar nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 1em;
  border: 1px solid #ff4726;
  border-top: 0;
}
.sidebar nav a:hover {
  background: #ff5537;
}
.sidebar nav a:first-child {
  border-top: 1px solid #ff4726;
}
.content {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  position: relative;
}
@media (min-width: 800px) {
  .content {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}
.logo {
  display: none;
}
@media (min-width: 800px) {
  .logo {
    display: block;
    width: 130px;
    margin-bottom: 2rem;
  }
}
.meow {
  position: absolute;
  width: 32px;
  top: 2em;
  right: 2em;
  opacity: 0.5;
}
.meow:hover {
  opacity: 0.75;
}
pre,
code {
  background: #fafafa;
  border: 1px solid #eee;
  padding: 10px;
  font-size: 0.85rem;
  margin-bottom: 1rem;
}
code {
  padding: 3px;
  margin-bottom: 0;
}
pre code {
  border: 0;
  padding: 0;
}
ul,
ol {
  margin-left: 1.2em;
}
.permalink a {
  font-family: 'Unica One', sans-serif;
  color: #ccc;
  text-decoration: none;
  margin-left: 5px;
  font-size: 20px;
}
@media (min-width: 800px) {
  .sidebar .credit {
    display: block;
    width: 120px;
    margin: auto auto 1.5rem;
  }
}
