@import 'reset.css'
@import url(http://fonts.googleapis.com/css?family=Unica\+One)
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700)

bp = 800px

html
  font-family: 'Vollkorn', sans-serif
  color: #444
  line-height: 1.5
  font-size: 14px
  overflow-y: auto
  @media (min-width: bp)
    font-size: 16px

a
  color: lighten(blue, 60%)
  &:hover
    text-decoration: none

h1, h2, h3, h4, h5, h6
  margin-top: 3rem
  margin-bottom: .5rem
  line-height: 1.1em
  color: tomato
  font-weight: normal

h1
  font-family: 'Unica One', sans-serif
  text-transform: uppercase
  color: #aaa

p
  margin-bottom: 1rem

img
  max-width: 100%

html, body
  height: 100%

.wrap
  height: 100vh
  display: flex
  flex-direction: column
  @media (min-width: bp)
    flex-direction: row

.content, .sidebar
  overflow-y: scroll
  padding: 2em

.sidebar
  background: tomato
  flex: 1
  border-bottom: 1px solid #eee
  text-align: center
  padding-bottom: .5em
  @media (min-width: bp)
    order: 2
  img
    width: 100px
    display: inline-block
    margin-bottom: 1rem
    @media (min-width: bp)
      display: none
  nav
    font-family: 'Unica One', sans-serif
    text-transform: uppercase
    margin-bottom: 2rem
    a
      display: block
      color: white
      text-decoration: none
      padding: 1em
      border: 1px solid darken(tomato, 10%)
      border-top: 0
      &:hover
        background: darken(tomato, 5%)
      &:first-child
        border-top: 1px solid darken(tomato, 10%)

.content
  flex: 2
  position: relative
  @media (min-width: bp)
    order: 1

.logo
  display: none
  @media (min-width: bp)
    display: block
    width: 130px
    margin-bottom: 2rem

.meow
  position: absolute
  width: 32px
  top: 2em
  right: 2em
  opacity: .5
  &:hover
    opacity: .75

pre, code
  background: darken(white, 2%)
  border: 1px solid #eee
  padding: 10px
  font-size: .85rem
  margin-bottom: 1rem

code
  padding: 3px
  margin-bottom: 0

pre
  code
    border: 0
    padding: 0

ul, ol
  margin-left: 1.2em

.permalink
  a
    font-family: 'Unica One', sans-serif
    color: lighten(black, 80%)
    text-decoration: none
    margin-left: 5px
    font-size: 20px

@media (min-width: bp)
  .sidebar
    .credit
      display: block
      width: 120px
      margin: auto auto 1.5rem

