<!DOCTYPE html>{% include setup.md %}
<html class="no-js page{{ page_lang_class }}{{ page_type_class }}{{ page_category_class }}">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ root_url }}s/style.css" />
    <link rel="stylesheet" href="{{ root_url }}s/try.css"/>
    <link rel="stylesheet" href="{{ root_url }}s/codemirror.css"/>
    <script src="try/jquery.js"></script>
    <script src="try/stylus.min.js"></script>
    <script src="try/codemirror.js"></script>
    <script src="try/css-mode.js"></script>
    <script src="try/try.js"></script>

    <title>{{ title }} — {% if is_index %}expressive, robust, feature-rich CSS preprocessor{% else %}Stylus{% endif %}</title>
</head>
<body>
    <!--[if lt IE 9]>
      <div class="browsehappy">
        <p>
          You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/" target="_blank">upgrade your browser</a> to improve your experience.
        </p>
      </div>
    <![endif]-->
    <div class="wrap">
        <aside class="sidebar">
            <nav>
                <a href="{{ root_url }}try.html">Try Stylus Online!</a>
                {% capture menu_cache %}
                    {% assign menu_result = '' %}
                    {% assign current_post_name = page.url | remove:'index.html' %}
                    {% for item in site.menu %}
                        {% capture item_languaged %}/{{ lang_prefix }}{{ item }}{% endcapture %}
                        {% for post in site.pages %}
                            {% assign post_name = post.url | remove:'index.html' %}

                            {% if item_languaged == post_name %}
                                {% assign get_title_input = post %}
                                {% include tenkan/get_title.md %}
                                {% capture menu_result %}{{ menu_result }}
                {% if post_name != current_post_name %}<a href="{{ site.production_url }}{{ post.url | remove:'index.html' }}">{% else %}<strong>{% endif %}
                    {{ get_title_output }}
                {% if post_name != current_post_name %}</a>{% else %}</strong>{% endif %}
                                {% endcapture %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endcapture %}{{ menu_result }}
                <a href="http://stylus.github.io/nib/">CSS3 Extensions with Nib</a>
            </nav>

            <p>Created by <a href="http://github.com/tj">TJ Holowaychuk</a>, originated at:</p>
            <a href="https://learnboost.com">
                <img class="credit" src="{{ root_url }}img/learnboost.png" title="Creators of Stylus">
            </a>

            <p>Supported by:</p>
            <a href="http://automattic.com">
                <img class="credit" src="{{ root_url }}img/automattic.svg" title="Supporting organization">
            </a>
            <a href="http://launchboxhq.com">
                <img class="credit" src="{{ root_url }}img/launchbox.svg" title="Web-design and hosting">
            </a>
            <a href="https://mojotech.com">
                <img class="credit" src="{{ root_url }}img/mojotech.png" title="Logo">
            </a>

        </aside>

        <main class="content">
            <header class="logo">
                <a{% unless is_index %} href="{{ root_url }}"{% endunless %}><img src="{{ root_url }}img/stylus-logo.svg" alt="Stylus" /></a>
            </header>

            <div class="docs">
                <h1>{{ title }}</h1>
                {{ processed_content }}
            </div>

            <a href="https://github.com/stylus/stylus/" class="meow">
                <img src="{{ root_url }}img/octocat.svg" alt="Stylus on GitHub" />
            </a>
        </main>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-59751437-1', 'auto');
      ga('send', 'pageview');

    </script>
</body>
</html>

