@import 'reset.css';
@import url("https://fonts.googleapis.com/css?family=Unica+One");
@import url("https://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700");
html {
  font-family: 'Vollkorn', sans-serif;
  color: #444;
  line-height: 1.5;
  font-size: 14px;
  overflow-y: auto;
}
@media (min-width: 800px) {
  html {
    font-size: 16px;
  }
}
a {
  color: #99f;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  line-height: 1.1em;
  color: #ff6347;
  font-weight: normal;
}
h1 {
  font-family: 'Unica One', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #aaa;
}
p {
  margin-bottom: 1rem;
}
img {
  max-width: 100%;
}
html,
body {
  height: 100%;
}
.wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
@media (min-width: 800px) {
  .wrap {
    flex-direction: row;
  }
}
.content,
.sidebar {
  overflow-y: scroll;
  padding: 2em;
}
.sidebar {
  background: #ff6347;
  flex: 1;
  border-bottom: 1px solid #eee;
  text-align: center;
  padding-bottom: 0.5em;
}
@media (min-width: 800px) {
  .sidebar {
    order: 2;
  }
}
.sidebar img {
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 1rem;
}
@media (min-width: 800px) {
  .sidebar img {
    display: none;
  }
}
.sidebar nav {
  font-family: 'Unica One', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}
.sidebar nav > a,
.sidebar nav > strong {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 1em;
  border: 1px solid #ff4726;
  border-top: 0;
}
.sidebar nav > a:first-child,
.sidebar nav > strong:first-child {
  border-top: 1px solid #ff4726;
}
.sidebar nav > a:hover,
.sidebar nav > strong {
  background: #ff5537;
}
.sidebar p {
  font-size: 1.1em;
}
.sidebar p a {
  color: #fff;
}
.content {
  flex: 2;
  position: relative;
}
@media (min-width: 800px) {
  .content {
    order: 1;
  }
}
.logo {
  display: none;
}
@media (min-width: 800px) {
  .logo {
    display: block;
    width: 130px;
    margin-bottom: 2rem;
  }
}
.meow {
  position: absolute;
  width: 32px;
  top: 2em;
  right: 2em;
  opacity: 0.5;
}
.meow:hover {
  opacity: 0.75;
}
pre,
code {
  background: #fafafa;
  border: 1px solid #eee;
  padding: 10px;
  font-size: 0.85rem;
  margin-bottom: 1rem;
}
code {
  padding: 3px;
  margin-bottom: 0;
}
pre code {
  border: 0;
  padding: 0;
}
ul,
ol {
  margin-left: 1.2em;
}
.permalink {
  float: left;
  width: 0;
  padding-top: 0;
  padding-right: 0.7em;
  border: 0.3em solid transparent;
  margin: -0.3em 0 0 -1.3em;
  font-family: 'Unica One', sans-serif;
  color: #ccc;
  text-decoration: none;
  font-size: 20px;
}
.permalink:before {
  content: '#';
}
@media (min-width: 800px) {
  .sidebar .credit {
    display: block;
    width: 120px;
    margin: auto auto 1.5rem;
  }
}
